/*
 * SpaTec CSS file
 * Author: Austin Delamar
 * 9-25-2016
 */

.transparent {
	background: transparent !important;
}
.footnote {
	color: #666666 !important;
	font-size: 10pt !important;
	padding-top:0px;
	padding-bottom:0px;
	margin-top:0px;
	margin-bottom:0px;
}
.quote {
	font-style: italic !important;
}
.shadow {
    box-shadow: 10px 10px 5px #888888;
}
.large {
	font-size: 2.0em !important;
	font-weight: 600;
}
.thin {
	line-height: 0.8 !important;
	padding-top: 0px !important;
	padding-bottom: 0px !important;
}
.bold {
	font-weight: 700 !important;
}
body {
	font-family: 'Lato', sans-serif !important;
	font-size: 1em;
	line-height: 1;
}
p {
	font-size: 1em;
}
h1 { 
	border-bottom: 2px solid #505050;
	font-weight: 700;
}
h2, h3, h4, h5, h6 {
	border: 0px;
	font-weight: 500;
}
h1 a, h2 a, h3 a {
	color: initial !important;
	text-decoration: none !important;
}